*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html, body {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: #007FFF;
}

.container {
    width: 365px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.container .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icons a span {
    margin-left: 5px;
    font-size: 18px;
}

.social-icons a:first-child {
    margin-right: 5px;
    background-color: #4267B2;
}

.social-icons a:first-child:hover {
    background-color: #365899;
}

.social-icons a:last-child {
    margin-left: 5px;
    background-color: #1DA1F2;
}

.social-icons a:last-child:hover {
    background-color: #1a91da;
}