@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    transition: 0.3s ease-out;
}

.container:hover {
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}

.container .image {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: transform 0.3s ease-out;
}

.container:hover .image {
    transform: translateY(-100px);
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-out;
}

.container:hover .image img {
    opacity: 0.7;
}

.container:hover .image {
    transform: translateY(-100px);
}