@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    position: relative;
    height: 500px;
    width: 400px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    transition: 0.3s ease-out;
}

.container:hover {
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}