@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background-color: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.card:hover {
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.card .img {
    height: 200px;
    width: 100%;
}

.card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}