@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 50px;
    text-align: center;
}

.container {
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
}

.container:hover {
    height: 470px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}

.container .wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.container:hover .wrapper img.active {
    height: 470px;
    width: 350px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}