@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
    background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
}

.blog-card {
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 10px 50px rgba(252, 56, 56, 0.3);
}