@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", sans-serif;
    background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
}

.blog-card {
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 10px 50px rgba(252, 56, 56, 0.3);
}

.inner-part {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    padding-inline: 25px;
}

#imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
}

.inner-part .img {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252, 56, 56, .1);
}

#imgTap:checked ~ .inner-part .img {
    width: 850px;
    height: 370px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
}