@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.cards {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.cards h2.header {
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
}

.content .fa-brands {
    font-size: 70px;
    margin: 16px 0;
}

.content > * {
    flex: 1 1 100%;
}

.content:hover {
    color: white;
}

.content:hover a {
    border-color: white;
    background-color: white;
}