@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.cards {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}