@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #647df9;
}

.content {
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .card {
    background-color: #fff;
    width: calc(33% - 20px);
    text-align: center;
    padding: 15px 30px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.content .card .top {
    height: 130px;
    clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
    color: #fff;
    padding: 12px 0 0;
}

.content .one .top,
.content .one button {
    background-color: #14eb6e;
}

.content .two .top,
.content .two button {
    background-color: #e87130;
}

.content .three .top,
.content .three button {
    background-color: #11BCC3;
}