@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #456ABD;
    transition: background 0.3s ease;
}

.container {
    position: relative;
    height: 500px;
    width: 380px;
    background-color: #fff; 
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    transition: all 0,3s ease;
} 

.container:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.container:hover .image img {
    transform: scale(1.1);
}