@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 400px;
    background-color: white;
    padding: 60px 40px;
}

header {
    font-size: 40px;
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
}

form .input-field,
form button {
    margin-block: 25px;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-inline: 16px;   
    outline: none;
    font-size: 19px;
    transition: .4s;
}

input:focus {
    border: 1px solid #1DA1F2;
}

.input-field label,
span.show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-field label {
    left: 16px;
    pointer-events: none;
    color: gray;
    font-size: 18px;
    transition: .4s;
}