* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d2ae8;
}

.navbar {
    position: relative;
    width: 500px;
    height: 120px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li {
    position: relative;
    list-style-type: none;
}

.navbar ul li a {
    position: relative;
    width: 90px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar ul li a i {
    position: absolute;
    font-size: 38px;
    color: #7d2ae8;
}

ul li a i.activeIcon {
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
    transition-delay: 0.2s;
}

.navbar ul li.active a i {
    opacity: 1;
    pointer-events: auto;
}